<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap" rel="stylesheet">


    <title>Document</title>

    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/checkout.css">
</head>

<body>


    <header>
        <div class="sidebar">
            <h2>LocaHost</h2>
            <div class="search">
                <img src="img/search.svg" alt="search">
                <input type="text" id="searchButton" placeholder="Search">
            </div>
            <ul class="nav">
                <li class="active" id="navHome">
                    <img src="img/home.svg" alt="home">
                    <p>Home</p>
                </li>
                <li id="navCheckout">
                    <img src="img/dollar.svg" alt="checkout">
                    <p>Checkout</p>
                </li>
            </ul>
        </div>
        <div id="myList" class="active">
            <div class="informations">
                <h3>My List</h3>
                <h3 id="listPrice"></h3>
            </div>
            <div id="moviesList">

            </div>
        </div>
    </header>

    <div class="home active" id="home">
        <main>
            <div class="welcome">
                <h2>Welcome to <span>LocaHost</span></h2>
                <p class="description">Choose your movie and enjoy with your friends.<br> Click on the button <img
                        src="./img/plus.svg.svg" alt="plus">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp to add a movie, or click on
                    the movie for more details.</p>
            </div>
            <div class="search">
                <img src="img/search.svg" alt="search">
                <input type="text" id="inpSearch" placeholder="Search  for movies by tittle">
                <button id="butSearch">Buscar</button>
            </div>

            <h2>Movies</h2>
            <div id="movies">
                <% movies.forEach(movie=> { %>
                    <div id="movie-<%= movie.id %>" class="movie">
                        <img class="plus" src="img/plus.svg.svg" alt="">
                        <img class="poster" src="<%= movie.posterUrl %>" alt="">
                        <div class="description">
                            <p class="title">
                                <%= movie.title.slice(0,35) %>
                            </p>
                            <p class="date">
                                (<%= new Date(movie.releaseDate).toLocaleDateString('pt-BR') %>)
                            </p>
                            <p class="price">
                                $<%= movie.leaseValue.toFixed(2) %> / <%= movie.leaseTime %> day(s)
                            </p>
                        </div>
                    </div>
                    <% }); %>
            </div>


        </main>

        <footer>
            LocaHost®
        </footer>
    </div>

    <div class="checkout" id="checkout">
        <div class="mainCheckout">
            <h2>My List</h2>
            <div id="moviesChekout">

            </div>
            <h2>Checkout</h2>
            <div class="informations">
                <p class="leaseFirst">Lease First: <span></span></p>
                <p class="leaseLast">Lease Last: <span></span></p>
                <p class="price">Total: <span></span></p>
            </div>
            <form method="post" id="chekoutForm">
                <input type="text" id="cpf" name="cpf" maxlength="14" placeholder="Client CPF">
                <input type="submit" value="Finish">
            </form>
        </div>
        <footer>
            LocaHost®
        </footer>
    </div>


</body>

<script src="scripts/searchMovies.js"></script>
<script src="scripts/myMoviesList.js"></script>
<script src="scripts/checkout.js"></script>

</html>